.mainpage{
    background-color: black;
    font-family: 'Roboto'
}

.myphoto{
    background-image: url(https://sun9-21.userapi.com/s/v1/ig2/Y8vvR3F3YCy6dzWoqGTAzEKxSZMjJx8aPXxD1QBbBBwzBuwXn-0xcZVkuGf-2ij_laWKdLgrHB9dMb20p2_h5O_n.jpg?quality=95&as=32x48,48x72,72x108,108x162,160x240,240x360,360x540,480x720,540x810,640x960,720x1080,1080x1620,1280x1920,1440x2160,1707x2560&from=bu&cs=1707x0);
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-blend-mode: normal;
    border-radius: 100px;
}

.facts{
    padding: 20px;
    position:relative;
}

.BigFlexBox {
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: row ;
    gap: 30 px;
    flex-shrink: 0;
    flex-wrap: wrap;
    overflow: auto;
}

.item1{
    width: 250px;
    height: 250px;
    background-image: url(https://sun9-55.userapi.com/s/v1/ig2/6zX6PGWp306xPad5PA4YUpsjV8s9bJT_8F6VwVOrxgok0L1ocp99k_Ems9E0PaNUppfz6a4bPoYiohdSAC6LTj_f.jpg?quality=95&as=32x43,48x64,72x96,108x144,160x213,240x320,360x480,480x640,540x720,640x853,720x960,960x1280&from=bu&cs=960x0);
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.item2{
    width: 250px;
    height: 250px;
    background-image: url(https://sun9-54.userapi.com/s/v1/ig2/YDL6Y7KLLLkQWjMuxDi6NAOJxWO_5-8zxd-yzysa3kT6h3Fn0eaAVesv7g7U8szRYGVEuvXtvNkCBZViqVYPbHL_.jpg?quality=95&as=32x43,48x64,72x96,108x144,160x213,240x320,360x480,480x640,540x720,640x853,720x960,1080x1440,1280x1707,1440x1920,1920x2560&from=bu&cs=1280x0);
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.item3{
    width: 250px;
    height: 250px;
    background-image: url(https://sun9-81.userapi.com/s/v1/if2/7jhoRQvUtUwno6qNMGKauUshiH4YpC8QvBXkHBH0BLpQuJ42q1yk5Zt9V3BudXCk58UOTGAAhegajPoG93Vg7KgY.jpg?quality=95&as=32x24,48x36,72x54,108x81,160x120,240x180,360x270,480x360,540x405,640x480,720x540,1080x810,1280x960,1440x1080,2560x1920&from=bu&cs=2560x0);
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.item4{
    width: 250px;
    height: 250px;
    background-image: url(https://sun9-26.userapi.com/s/v1/ig2/FNeblwqBX226Gdo8Q6G6UW8Moy2LuI0taq_joUL8oclBLB1eQiKk2TXKcu0qyeCNWJEWkkUwPyzRTzlAapYwD7K9.jpg?quality=95&as=32x43,48x64,72x96,108x144,160x213,240x320,360x480,480x640,540x720,640x853,720x960,1080x1440,1280x1707,1440x1920,1920x2560&from=bu&cs=1920x0);
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.item5{
    width: 250px;
    height: 250px;
    background-image: url(https://sun9-75.userapi.com/s/v1/if2/XutzLDEP-_T793wQ9T13J8Jt9OaEcds03Xp5Fjfb38-X98151R6qb7tHmoD15bBbhoa3apEAZe3zH5IAZ0pi0J4Q.jpg?quality=95&as=32x21,48x32,72x48,108x72,160x107,240x160,360x240,480x320,540x360,640x427,720x480,1080x720,1280x853,1440x960,2560x1707&from=bu&cs=2560x0);
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.item6{
    width: 250px;
    height: 250px;
    background-image: url(https://sun9-49.userapi.com/s/v1/if2/rL-Qqg0pCPbWjdv673ckIEr_1_kRkxZOueHcLxojpSNHRMzu1boco3Jf2GJYVJA1k3bfSf6L5d7UxRetA66aKiNe.jpg?quality=95&as=32x21,48x32,72x48,108x72,160x107,240x160,360x240,480x320,540x360,640x427,720x480,1080x720,1280x853,1440x960,2560x1707&from=bu&cs=2560x0);
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.item7{
    width: 250px;
    height: 250px;
    background-image: url(https://sun9-34.userapi.com/s/v1/if2/yGmhncsyucnt7mSxtkkHESonNb4kBrJNWpPLLF8V0jhb9BCb7maJecKSCBqsc00fBCzp7qtY3yTi2A3o3c-orD49.jpg?quality=95&as=32x21,48x32,72x48,108x72,160x107,240x160,360x240,480x320,540x360,640x427,720x480,1080x720,1280x853,1440x960,2560x1707&from=bu&cs=2560x0);
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.item8{
    width: 250px;
    height: 250px;
    background-image: url(https://sun9-47.userapi.com/s/v1/ig2/THPNEsJL5S0X72rNZutDZVRQIxemtoPg1XJ5VL62eVQ8DgD-Sh6yZmOOexz8ORWw8yHSO6QdCHX1CV8ZuD0_eGp8.jpg?quality=96&as=32x32,48x48,72x72,108x108,160x160,240x240,360x360,480x480,540x540,640x640,720x720,1080x1080,1280x1280&from=bu&cs=1280x0);
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}